body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
}
span {
    color: orange;
}
section {
    display: flex;
    margin-bottom: 150px;
}
.half1-width, .half2-width {
    width: 50%;
}
.half3-width, .half4-width {
    width: 50%
}
.half1-width{
    padding-top: 10%;
    padding-left: 5%; 
}
.half2-width img{
    width: 80%;
    padding-left: 7%;
    padding-top: 11%;
}
.half3-width img {
    width: 80%;
    padding-left: 10%;
}
.half4-width {
    padding-left: 10%;
    padding-top: 5%; 
}
.link-btn {
    text-decoration: none;
    padding: 10px 40px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    background-image: linear-gradient(orange, tomato);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}